
.sidebarContainer{
    height: 100%;
    width:300px;
    background-color: rgb(149, 255, 255);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px ;
    font-family: 'Segoe UI';
}
.elementsContainer{
    padding: 20px;
    margin: 0;
    
    
}
.title{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
}
.elementsContainer select{
    margin-top: 20px;
    width: 250px;
    height: 30px;
    color:rgb(0, 0, 0);
    border-radius: 3px;
    font-family: 'Segoe UI';

}
.elementsContainer button{
    width: 80px;
    height: 25px;
    margin-top: 8px;
    margin-left: 170px;
}
.elementsContainer input{
    width: 242px;
    height: 30px;
    margin-top: 20px;

}
